<template>
  <div id="page">
    <br />
    <div id="main">
      <!--    <b-btn class="normal-button">Add new dish</b-btn>-->
    </div>
    <div id="horizontal-filter-menu">
      <b id="filter-title">Filter options:</b>
      <div v-for="(key, index) in fieldKeys" :key="`key-${index}`">
        <div id="filter-option">
          <select class="form-control form-control-sm" v-model="selectVal[key]">
            <option :value="undefined">
              -- {{ key.charAt(0).toUpperCase() + key.slice(1).toLowerCase() }} --
            </option>
            <option
              :value="option"
              v-for="option in options[key]"
              :key="'opt-${index}'"
            >
              {{ option }}
            </option>
          </select>
        </div>
      </div>
      <br />
      <b-form-textarea id="status-bar" plaintext :value="status">
      </b-form-textarea>
    </div>
    <b-table
      striped
      small
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :items="filteredItems"
      :fields="fields"
      id="table"
    >
      <template #cell(index)="data">
        {{ data.index + 1 }}
      </template>
      <template #cell(nameAndDetails)="data">
        <b class="text-dark">{{ data.item.name }}</b>
        <br />
        <b class="text-secondary">{{
          data.item.carbs.map(carb => carb.toLowerCase()).join(", ")
        }}</b>
        <span class="text-secondary"> &#8226; </span>
        <b class="text-secondary">{{
          data.item.vegetable.map(veg => veg.toLowerCase()).join(", ")
        }}</b>
        <span class="text-secondary"> &#8226; </span>
        <b class="text-secondary">{{
          data.item.meat.map(meatItem => meatItem.toLowerCase()).join(", ")
        }}</b>
      </template>
      <template #cell(chef)="data">
        <b>{{
          data.item.chef
            .map(
              chefItem =>
                chefItem.charAt(0).toUpperCase() +
                chefItem.slice(1).toLowerCase()
            )
            .join(", ")
        }}</b>
      </template>
      <template #cell(price)="data">
        <p v-if="data.item.price == 1">
          <img class="prices" :src="price1" />
        </p>
        <p v-if="data.item.price == 2">
          <img class="prices" :src="price2" />
        </p>
        <p v-if="data.item.price == 3">
          <img class="prices" :src="price3" />
        </p>
        <p v-if="data.item.price == 4">
          <img class="prices" :src="price4" />
        </p>
        <p v-if="data.item.price == 5">
          <img class="prices" :src="price5" />
        </p>
      </template>
      <template #cell(days)="data">
        <b class="number">{{ data.item.days }}</b>
      </template>
    </b-table>
  </div>
</template>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
import axios from "axios";

export default {
  data() {
    return {
      price1: require("../assets/coins-images/coin1.png"),
      price2: require("../assets/coins-images/coin2.png"),
      price3: require("../assets/coins-images/coin3.png"),
      price4: require("../assets/coins-images/coin4.png"),
      price5: require("../assets/coins-images/coin5.png"),
      items: [],
      fieldKeys: ["carbs", "meat", "vegetable", "chef", "price", "days"],
      fields: [
        {
          key: "index",
          label: "Nr."
        },
        {
          key: "nameAndDetails",
          label: "Dish details",
          sortable: true
        },
        {
          key: "chef",
          sortable: true
        },
        {
          key: "price",
          sortable: true
        },
        {
          key: "days",
          sortable: true
        }
      ],
      selectVal: {
        carbs: undefined,
        meat: undefined,
        vegetable: undefined,
        chef: undefined,
        price: undefined,
        days: undefined
      },
      sortBy: "nameAndDetails",
      sortDesc: false,
      status: ""
    };
  },
  created() {
    this.getAllDishes();
  },
  computed: {
    filteredItems() {
      return this.items.filter(item => {
        let keep = true;
        this.fieldKeys.forEach(key => {
          let itemValue = item[key];
          keep =
            keep &&
            (this.selectVal[key] === undefined ||
              (typeof itemValue == "number" &&
                item[key] == this.selectVal[key]) ||
              (typeof itemValue != "number" &&
                item[key].includes(this.selectVal[key])));
        });

        return keep;
      });
    },
    options() {
      const options = {};
      this.fieldKeys.forEach(key => {
        let values = [];
        for (let i = 0; i < this.items.length; i++) {
          let item = this.items[i];
          values = values.concat(item[key]);
        }
        options[key] = Array.from(new Set(values));
      });

      return options;
    }
  },
  methods: {
    getAllDishes() {
      axios
        .get(`api/getAllDishes`)
        .then(response => {
          if (response.data.status.flag === "OK") {
            if (response.data.dishes.length === 0) {
              this.status = "Could not find any dishes to load";
            } else {
              this.items = response.data.dishes;
            }
          } else {
            this.status = response.data.status.message;
          }
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    name: "AllDishes",
    props: {
      msg: String
    }
  }
};
</script>

<style>
#main > * {
  margin-top: 15px;
}

.normal-button {
  /*background-color: #0A9396 !important;*/
}

#horizontal-filter-menu {
  position: relative;
  margin-top: 40px;
  display: block;
  content: "";
  clear: both;
  float: left;
  text-align: left;
  background: #f5f2f0;
  padding: 20px;
  height: 320px;
  width: 240px;
}

#filter-option {
  width: 180px;
  margin: 10px;
}

#table {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#page {
  font-family: Cotoris, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  flex-direction: row;
  align-items: baseline;
  width: 1250px;
}

#filter-title {
  margin-top: 10px;
  font-size: 20px;
}

.number {
  font-size: 20px;
  height: 40px;
  width: 40px;
  background-color: #b3b3b3;
  padding: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /*color: #E9D8A6;*/
  border-radius: 50%;
}

.prices {
  width: 45px;
}

.table td,
.table th {
  vertical-align: middle !important;
}

td {
  vertical-align: middle !important;
}
</style>
