<template>
  <div id="main">
    <h1>Welcome to Genu!</h1>
    <br>
    <br>
    <p>A way to save time by  skipping the part of the day where you think about what to eat today, tomorrow or for the entire week. With Genu you can easily:</p>
    <br>
    <p>- generate a weekly menu based on a given list of dishes that you can acquire/make</p><br>
    <p>- regenerate a single dish from the week</p><br>
    <p>- save your menu for the week</p><br>
    <p>- [coming] get customized menus based on previously saved data</p><br>
  </div>
</template>

<script>
export default {
  name: "MainPage"
}
</script>

<style scoped>

#main {
  width: 1250px;
  height: 600px;
  padding: 100px;
  background: rgb(245,242,240,255);
  display: inline-block;
  flex-direction: row;
  align-items: baseline;
}
</style>