<template>
  <div id="menu">
    <div id="properties">
      <div class="distance mt-2">Allowed weekly price: {{ total }}</div>
      <b-form-input
          class="distance"
          v-model="total"
          type="range"
          min="7"
          max="35"
          placeholder="Enter total weekly price">
      </b-form-input>
      <b-form-select
          class="distance"
          v-model="selected"
          :options="options">
      </b-form-select>
      <b-form-checkbox
          class="distance"
          id="checkbox-1"
          v-model="takeout"
          name="checkbox-1"
          value="accepted"
          unchecked-value="not_accepted"
      >
        Allow takeout added to the randomizer
      </b-form-checkbox>
      <b-btn @click="generateMenu()" class="distance normal-button">Regenerate</b-btn>
      <br />
      <b-btn @click="saveMenu()" class="distance normal-button">Save menu for this week</b-btn>
      <br />
      <b-form-textarea id="status-bar" plaintext :value="status"></b-form-textarea>
    </div>
    <b-table
        striped
        small
        hover
        :items="items"
        :fields="fields"
        id="table">
      <template v-slot:cell(actions)="data">
        <b-button size="sm" class="mb-2" @click="regenerate(data.index)">
          <b-icon icon="arrow-clockwise" font-scale="1" title="Regenerate single dish"></b-icon>
          Regen
        </b-button>
      </template>
      <template #cell(day_of_week)="data">
        <span>{{ daysOfWeek[data.index] }}</span>
      </template>
      <template #cell(nameAndDetails)="data">
        <b class="text-dark">{{ data.item.name }}</b>
        <br>
        <b class="text-secondary">{{ data.item.carbs.map(carb => carb.toLowerCase()).join(", ") }}</b>
        <span class="text-secondary"> &#8226; </span>
        <b class="text-secondary">{{ data.item.vegetable.map(veg => veg.toLowerCase()).join(", ") }}</b>
        <span class="text-secondary"> &#8226; </span>
        <b class="text-secondary">{{ data.item.meat.map(meatItem => meatItem.toLowerCase()).join(", ") }}</b>
      </template>
      <template #cell(chef)="data">
        <b>{{ data.item.chef.map(chefItem => chefItem.charAt(0).toUpperCase() + chefItem.slice(1).toLowerCase()).join(", ") }}</b>
      </template>
      <template #cell(price)="data">
        <p v-if="data.item.price == 1">
          <img class="prices" :src="price1" >
        </p>
        <p v-if="data.item.price == 2">
          <img class="prices" :src="price2" >
        </p>
        <p v-if="data.item.price == 3">
          <img class="prices" :src="price3" >
        </p>
        <p v-if="data.item.price == 4">
          <img class="prices" :src="price4" >
        </p>
        <p v-if="data.item.price == 5">
          <img class="prices" :src="price5" >
        </p>
      </template>
      <template #cell(days)="data">
        <b class="number">{{ data.item.days }}</b>
      </template>
    </b-table>
  </div>
</template>
<script>
import axios from "axios";
import Vue from 'vue';
import { BootstrapVue, BootstrapVueIcons } from 'bootstrap-vue';
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';

Vue.use(BootstrapVue);
Vue.use(BootstrapVueIcons);

export default {
  data() {
    return {
      price1: require('../assets/coins-images/coin1.png'),
      price2: require('../assets/coins-images/coin2.png'),
      price3: require('../assets/coins-images/coin3.png'),
      price4: require('../assets/coins-images/coin4.png'),
      price5: require('../assets/coins-images/coin5.png'),
      options: [
        { value: null, text: "Select value to equilibrate menu"},
        { value: "CARBS", text: "Carbs"},
        { value: "MEAT", text: "Proteins"},
        { value: "VEGETABLE", text: "Vegetables"},
        { value: "CHEF", text: "Chef"}
      ],
      selected: null,
      total: 7,
      takeout: false,
      items: [],
      status: "",
      fields: [
        {
          key: "day_of_week",
          label: "Days of the week"
        },
        {
          key: "nameAndDetails",
          label: "Dish details",
        },
        {
          key: "chef",
        },
        {
          key: "price",
        },
        {
          key: "days",
        },
        {
          key: "actions",
        }
      ],
      daysOfWeek: [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ]
    };
  },
  created() {
    this.getMenu();
  },
  methods: {
    refreshTable() {
      console.log("Refreshing menu table");
      this.$refs.table.refresh();
    },
    regenerate(index) {
      axios
        .post("api/regenerateSingleDish", {
          dishToChangeIndex: index,
          menu: this.items
        })
        .then(response => {
          console.log("Going to refresh menu table");
          this.items = response.data.menu;
          this.status = response.data.status.message;
          this.refreshTable();
          console.log(response);
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    getMenu() {
      axios
        .get("api/loadMenu")
        .then(response => {
          if (response.data.status.flag === "OK") {
            if (response.data.menu.length === 0) {
              this.status = "Could not find any menu to load";
            } else {
              this.items = response.data.menu;
            }
          } else {
            this.status = response.data.status.message;
          }
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    generateMenu() {
      axios
          .post("api/generateWeeklyMenu", {
            totalPrice: this.total,
            balanceType: this.selected == null ? "CARBS" : this.selected,
            allowTakeout: this.takeout == "accepted" ? "true" : "false"
          })
          .then(response => {
            console.log(response.data);
            this.items = response.data.menu;
            this.status = response.data.status.message;
          })
          .catch(e => {
            this.errors.push(e);
          });
    },
    saveMenu() {
      axios
        .post("api/saveMenu", {
          menu: this.items
        })
        .then(response => {
          console.log("Saved menu");
          console.log(response);
          if (response.data.status.flag === "OK") {
            this.status = "Menu saved succesfully"
          } else {
            this.status = response.data.status.message;
          }
        })
        .catch(e => {
          this.errors.push(e);
        });
    }
  },
  name: "Menu",
  props: {
    msg: String
  }
};
</script>

<style scoped>
#menu > * {
  margin: 15px 0;
}

.normal-button {
  /*background-color: #0a9396 !important;*/
}

#table {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#properties {
  margin-top: 40px;
  width: 300px;
  float: left;
  text-align: left;
  background: rgb(245,242,240,255);
  padding: 20px;
  margin-right: 10px;
}

#menu {
  font-family: Cotoris, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1500px;
  display: inline-block;
  flex-direction: row;
  align-items: baseline;
}

.distance {
  margin-bottom: 20px;
}

#status-bar {
  resize: none !important;
}

.table td, .table th {
  vertical-align: middle !important;
}
td {
  vertical-align: middle !important;
}
</style>
