@font-face {
    font-family: "Cotoris";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Roboto"), url("/fonts/Cotoris/Cotoris.otf") format("otf");
}