<template>
  <div id="app">
    <div id="container">
      <div id="top-bar">
        <b-navbar type="dark" class="nav theme">
          <b-navbar-nav>
            <b-nav-item href="#">
              <router-link to="/" class="nav-bar-item link">Main Page</router-link>
              <router-link to="/" class="nav-bar-item link">Placeholder</router-link>
            </b-nav-item>
          </b-navbar-nav>
        </b-navbar>
        <img id="icon" :src="icon"/>
        <b-navbar type="dark" class="nav theme">
          <b-navbar-nav>
            <b-nav-item href="#">
              <router-link to="/all-dishes" class="nav-bar-item link">All dishes</router-link>
              <router-link to="/menu" class="nav-bar-item link">Menu</router-link>
            </b-nav-item>
          </b-navbar-nav>
        </b-navbar>
      </div>
      <router-view />
    </div>
  </div>
</template>
<script>
export default{
  data() {
    return {
      icon: require('./assets/main-icon.png'),
    }
  },
  watch: {
    '$route':{
      handler: (to, from) => {
        document.title = to.meta.title || 'Genu'
      },
      immediate: true
    }
  }
}
</script>
<style>
@font-face {
  font-family: "Cotoris";
  src: local("Cotoris"),
  url(./fonts/Cotoris/Cotoris.ttf) format("truetype");
}

.link {
  color: black !important;
}

#app {
  font-family: Cotoris, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}
body {
  /*background-color: #E9D8A6;*/
  overflow-y: scroll;
}

.theme {
  /*background-color: #005F73;*/
  margin-bottom: 25px;
}

a {
  /*color: #94D2BD;*/
  /*text-decoration:none;*/
  font-weight:bold;
  font-size: 20px;
}

a:hover {
  /*color: #cbf3f0;*/
}

.nav-bar-item {
  text-decoration: none;
  padding: 20px;
}

#icon {
  width: 300px;
  margin-left: 20px;
  margin-right: 20px;
}

#top-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 50px;
}

.nav {
  width: 300px;
  height: 50px;
  margin-top: 80px;
}
</style>
